label {
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5rem;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0.5rem 0 0 0  ;
    width: fit-content;
    background-color: blueviolet;
    color: white;
}