.meal-app-message {
    width: 40vw;
    height: 30%;
    align-self: center;
    background-color: #383838;
    margin-top: 150px;
    border-radius: 1rem;
}

.meal-app-message-heading {
    color: white;
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.meal-app-message-content {
    color: white;
    margin-top: 20px;
}