.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    text-align: left;
}


.meal-list-item-left-area {
    display: flex;
    flex-direction: column;
    
}