.header {
    /* position: absolute; */
    background-color: #8a2b06;
    top: 0;
    left: 0;
    width: 100vw ;
    height: 5rem;
    display: flex;
    flex-direction: column;
}
.react-meals {
    color: white;
    /* position: absolute; */
    font-size: 2rem;
}

.cart {
    right: 0px;
    /* position: absolute; */
}