.backddrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.cart-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meal-list-item-left-area {
    margin-left: 2px;
    
}

.meal-list-item-left-area-content {
    margin: 3px;
}

.meal-list-item-middle-area {
    /* padding-left: 2px; */
    /* padding-right: 2px; */
    /* padding-bottom: 0px; */
    border: 2px solid black;
}

.meal-list-item-right-area {
    display: flex;
    flex-direction: row;
}

.meal-list-item-right-area-content {
    /* padding: 5px; */
    margin-left: 5px;
    background-color: white;
    color: black;
}